<%= form_for [@category, @article] do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<%end %>





<%# form_for [@category, @article] do |f| %>
  <%# label_tag(:title, "Title") %>
  <%# text_field_tag(:title) %>

  <%# label_tag(:body, "Body") %>
  <%# text_field_tag(:body) %>
  <%# submit_tag("Submit") %>


